div.buttons
	a.button(href!="&#109;&#97;&#105;&#x6c;&#x74;&#x6f;&#x3a;&#97;&#x40;&#122;&#117;&#x62;&#114;&#x2e;&#x6d;&#101;")
		span.fa.fa-envelope-o
		span.label.message Send me a message
	a.button(href="http://ya.ru")
		span.fa.fa-download
		span.label.resume Download my resume