div.buttons
	a.button(href!="&#x6d;&#x61;&#x69;&#x6c;&#x74;&#x6f;&#x3a;&#x25;61&#x7a;&#x75;&#x62;&#x72;&#x36;&#x34;&#x30;&#x33;&#x40;&#x67;&#x6d;&#x61;&#x69;&#x6c;&#x25;2e&#x63;&#x6f;&#x6d;")
		span.fa.fa-envelope-o
		span.label.message Send me a message
	a.button(href="pdf/Alexey%20Zubritskiy%20-%20Software%20Engineer,%20Architect,%20Blockchain%20Specialist.pdf" download)
		span.fa.fa-download
		span.label.resume Download my resume