extends layout

mixin section(section, mask)
	- page = contents.sections[section + '.md']
	div.section-box
		div.section.header
			svg: rect(y="-3" width="100%" height="100%" mask="url(#header)")
			h1!= page.title			
		each para in page.html.split(/(?=<h1>)/)
			div.section.line
				svg: rect(y="-3" width="100%" height="100%" mask="url(#" + mask + ")")
				!= para

block content
	div.about
		include about
	+section('profile', 'bullet')
	+section('skills', 'skills')
	div.section.thank-you
		svg: rect(y="-3" width="100%" height="100%" mask="url(#lastBullet)")
		p Thank you!
	div.citation
		div.text “Ideas are the beginning points of all fortunes”
		div.author Napoleon Hill
